
.main{

    width: 100%;
    background-color: #181818;
    height: calc(110vh - 80px);
    background-image: url("/images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.main h1{
    color:white;
    font-size: 54px;
}
.main p{
    font-size: 18px;
    color:rgb(49, 51, 182);
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 35px;
}

.call-to-action{
    cursor: pointer;
    background-color: white;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold ;
    transition: 1s;

}


.call-to-action:hover{
transform: scale(1.1);
}
.main a{
    text-decoration: none;
    color: #181818;

}

