.about{     
    background-color: white;
    width: 100%;
    padding-left: 10% ;     
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.about div{
    max-width: 50%;
    padding-right: 40px;
}

.about img{
    max-width: 450px; 
    
}
.about div h2 {
    font-size: 50px;
    margin-bottom: 14px;

}